body
{
    background-color: #fefaec;
    font-family: 'Lato', sans-serif;
    margin: 0 !important;
}

.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
}

.logo
{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
}

#logo
{
    padding: 0 15px;
}

.nav
{
    background-color: #B8AE89;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #8b8262;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 15px;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #8b8262;
}

ol > li:first-child
{
	border-left: 1px dashed #8b8262;
}

ol > li:hover
{
	background-color: #9e946e;
}

ol > li:hover > a
{
	color: #585341;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#9e946e;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #8b8262;
}

ol > li > ul > li:hover
{
	background-color: #8b815b;
}

ol > li > ul > li:hover > a
{
	color: #585341;
}



.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#text
{
    position: relative;
    left: 20px;
    bottom: 500px;
    color: white;
    font-size: 50px;
    width: 500px;
    font-weight: 700;
}

#obrazgl
{
    width: 100%;
    height: 800px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.opis1
{
    text-align: justify;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

.opis1 > h1
{
    font-weight: 700;
    letter-spacing: 2px;

}

a.opis1a:link
{
    text-decoration: none;
    color: black;
}

a.opis1a:visited
{
    text-decoration: none;
    color: black;
}

a.opis1a:active
{
    text-decoration: none;
    color: black;
}

a.opis1a:hover
{
    text-decoration: underline #B8AE89;
}

.solidline
{
    border-top: 2px solid lightblue;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#blog
{
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
    -moz-box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
    box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wpis
{
    width: 260px;
    padding: 15px;
    margin: 15px;
    float: left;
    text-align: justify;
}



button
{
    width: 150px;
    height: 50px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #A89C74;
    outline: none;
    cursor: pointer;
    border: 2px solid #A89C74;
    color: white;
    text-align: center;
}

button:focus
{
    outline: none;
}

.promcje
{
    margin-top: 150px;
    text-align: center;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    font-size: 40px;
}

.grypromcje
{
    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gra
{
    text-align: center;
    width: 230px;
    float: left;
    margin: 10px;
}

.gra:hover
{
    -webkit-box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
    -moz-box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
    box-shadow: 5px 5px 82px -16px rgba(114, 115, 119, 1);
}

a.graa:link
{
    text-decoration: none;
    color: black;
    display: block;
    width: 230px;
    height: 315px;
}

a.graa:visited
{
    text-decoration: none;
    color: black;
}

a.graa:active
{
    text-decoration: none;
    color: black;
}


.footer
{
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #A89C74;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}


.platforma
{
    float: left;
    text-align: center;
    width: 470px;
    padding: 15px;
}






